# Copyright 2026 MediaTek
# SPDX-License-Identifier: Apache-2.0

config CLOCK_CONTROL_MT8188
	bool "MT8188 clock control driver"
	default y
	depends on CLOCK_CONTROL
	depends on DT_HAS_MEDIATEK_MT8188_CLK_INFRA_A0_ENABLED
	help
	  Enable support for MediaTek MT8188 clock control driver.
