# Copyright 2025 MediaTek
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_MT8390
	bool
	select SOC_FAMILY_MTK_GENIO

config SOC_SERIES
	default "mt8390" if SOC_SERIES_MT8390

config SOC_MT8390
	bool
	select SOC_SERIES_MT8390

config SOC_MT8390_A55
	bool
	select SOC_MT8390
	help
	  MTK MT8390 A55

config SOC_MT8390_A55
	bool
	select SOC_MT8390
	help
	  MTK MT8390 A55

config SOC
	default "mt8390" if SOC_MT8390

config SOC_PART_NUMBER_MT8390
	bool

config SOC_PART_NUMBER
	default "mt8390" if SOC_PART_NUMBER_MT8390
