# MediaTek PINCTRL
# Copyright (c) 2025, MediaTek
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_MT8365
	bool "MediaTek MT8365 PINCTRL driver"
	default y
	depends on SOC_MT8365
    depends on DT_HAS_MEDIATEK_MT8365_PINCTRL_ENABLED
	help
	  Enable the MediaTek MT8365 PINCTRL driver

config PINCTRL_MT8188
	bool "MediaTek MT8188 PINCTRL driver"
	default y
	depends on SOC_MT8188_A55
    depends on DT_HAS_MEDIATEK_MT8188_PINCTRL_ENABLED
	help
	  Enable the MediaTek MT8188 PINCTRL driver.
